<ul>
  {{#each data}}
    <a href='/beers/{{this.id}}'>
      <img src={{this.image_url}} height='150px' /></a>

    <li>{{this.name}}</li>

    <li>{{this.description}}</li>

    <li>{{this.tagline}}</li>

  {{/each}}
</ul>